.top {
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 200px;
    background-size: 100% 100%;
}

.heading {
    padding-top:100px;
    width:750px;
    text-align: center;
}

.icon img{
    float: left;
    width: 50px;
    height: 50px;
    padding-top: 20px;
}

.download {
    width: 700px;
    text-align: center;
}

.Bottom-container {
    text-align: center;
    background-color: #EAEAEA;
   
}

.copy-right {
    color:black;
    font-size: 15px;
    font-family: bree serif;
}

.btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 17px;
    font-family: Bree+Serif;
    font-weight: bold;
    margin-left: 10px;
    transition: .3s ease;
    cursor: pointer;
}

.btn:hover{
    background-color: #10A19D;
    box-shadow: 5px 5px 5px white;
    color: white;
}


.copy-right:hover {
    color:brown;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #FFD4B2;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 20px;
    margin-top: 5px
}

.menu{
    width: 650px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

ul li a:hover{
    color: aqua;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Bree+Serif;
    letter-spacing: 1.2px;
    line-height: 30px;
    margin-top: 40px;
    font-size: 25px;
}


.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: aquamarine;
    font-family: Pattaya;
    font-size: 65px;
}



.social-media {
    height :32px;
    width  :32px;
    margin-top: 35px;
}

.social a img {
    margin-right: 10px;
}

.social {
    float:left;
    align-items: center;
    margin-left: 150px;
}

.social a img:hover {
    transform: scale(1.5);
}

.bottom {
    margin-top:40px;
    text-align: center;
}

.box {
    width: 350px;
    height: 450px;
    color: #fff;
    top: 25%;
    left: 70%;
    position: absolute;
    box-sizing: border-box;
    padding: 70px , 40px;
    padding-top: 2px;
    border-radius: 10px;
    box-shadow: 10px 10px 3px white;
}

@media only screen and (max-width: 900px) {
    .box {
      position: static;
      margin: auto;
      margin-top: 100px;   
      margin-bottom: 100px;
    }
  }

@media only screen and (max-width: 900px) {
    .social {
       display: none;
    }

    .top {
        width: 100%;
    }
  }


.box h1 {
    text-align: center;
    font-family: Lobster;
    padding: 0 0 20px;
    font-size: 25px;
}

.box p{
    text-align: center;
    font-family: Bree Serif;
    padding:0;
}

.box input {
    width:100%;
    margin-bottom: 20px;
}

.box input[type = "text"] , input[type = "password"] 
{
    border:none;
    font-family: Sriracha;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.box input[type = "submit"]
{
    font-family: Bree Serif;
    border:none;
    outline:none;
    height: 40px;
    width:50%;
    display: block;
    margin:auto;
    background: aquamarine;
    color:black;
    font-size: 18px;
    transition: .3s ease;
    border-radius: 10px;
    margin-bottom: 20px;
}

.box input[type = "submit"]:hover
{
    cursor:pointer;
    background: #10A19D;
    color:white;
    box-shadow: 5px 5px 5px white;
}

.box a{
    text-decoration: none;
    font-family: Bree Serif;
    text-align: center;
    font-size: 15px;
    color: gainsboro;
    line-height: 25px;
}

.links {
    display: block;
}

.box a:hover{
    color:aquamarine;
}
